@import 'style/variables.css';

:root{
    font-family: 'Arial';
    background-color: var(--color-base);
    color: var(--color-text-base);
    z-index:1;
}

.equipped_window{
    width: 12em;
    background-color: var(--color-window);
    color: var(--color-text-window);
    position:fixed;
    right:1em;
    z-index:2;
    border-radius: 1rem;
    padding: 1.5em;
    padding-top: 0rem;
    font-weight: bold;
    border: solid;
    border-width: thick;
    border-color:rgb(17, 17, 17);
}
.view_equip_window{
    width: 11em;
    background-color: var(--color-window);
    color: var(--color-text-window);
    position:absolute;
    bottom:-.5em;
    right:15em;
    z-index:2;
    border-radius: 1rem;
    padding: 1.5em;
    padding-top: 0rem;
    font-weight: bold;
    border: solid;
    border-width: thick;
    border-color:rgb(17, 17, 17);
}

.search_window{
    color: var(--color-base);
    background-color: var(--color-text-base);
}